# Importing the dependencies

In [8]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
import os

In [10]:
os.getcwd()

'C:\\Users\\Akash.DESKTOP-KMFJKOI\\Desktop\\numpy\\project 1'

In [11]:
path='C:\\Users\\Akash.DESKTOP-KMFJKOI\\Desktop\\numpy\\Movie_Recommender\\'

# Data Collection and Pre-Processing

In [12]:
# loading the data from the csv file to apandas dataframe
movies_data = pd.read_csv(path+"movies.csv",low_memory=False)

In [13]:
# printing the first 5 rows of the dataframe
movies_data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,Unnamed: 1255,Unnamed: 1256,Unnamed: 1257,Unnamed: 1258,Unnamed: 1259,Unnamed: 1260,Unnamed: 1261,Unnamed: 1262,Unnamed: 1263,Unnamed: 1264
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.31295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# number of rows and columns in the data frame

movies_data.shape

(4815, 1265)

In [15]:
# selecting the relevant features for recommendation

selected_features = ['genres','keywords','tagline','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [16]:
# replacing the null valuess with null string

for feature in selected_features:
  movies_data[feature] = movies_data[feature].fillna('')

In [17]:
# combining all the 5 selected features

combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['tagline']+' '+movies_data['cast']+' '+movies_data['director']

In [18]:
print(combined_features)

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4810    Action Crime Thriller united states\u2013mexic...
4811    Comedy Romance  A newlywed couple's honeymoon ...
4812    Comedy Drama Romance TV Movie date love at fir...
4813      A New Yorker in Shanghai Daniel Henney Eliza...
4814    Documentary obsession camcorder crush dream gi...
Length: 4815, dtype: object

In [19]:
# converting the text data to feature vectors

vectorizer = TfidfVectorizer()

In [20]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [21]:
print(feature_vectors)

  (0, 2438)	0.1727297294814374
  (0, 7763)	0.11283533644532147
  (0, 13033)	0.19423243635646828
  (0, 10237)	0.16059776785457613
  (0, 8764)	0.22707205249470466
  (0, 14617)	0.1515216001214878
  (0, 16677)	0.19842703880628196
  (0, 14073)	0.20595201821069514
  (0, 13328)	0.21773302489982696
  (0, 17299)	0.20197197712068843
  (0, 17016)	0.23641108008958242
  (0, 13358)	0.15022808177224256
  (0, 11511)	0.2720753479130943
  (0, 11200)	0.09053469876264365
  (0, 17007)	0.12823767322037863
  (0, 15270)	0.07100836050395497
  (0, 4952)	0.24023467260902173
  (0, 14280)	0.21390943238038762
  (0, 3231)	0.24957370020389946
  (0, 16596)	0.12552055066807144
  (0, 14387)	0.3396412971587197
  (0, 5843)	0.16468422023580487
  (0, 3071)	0.2220678565765971
  (0, 3685)	0.21390943238038762
  (0, 5444)	0.10367716177258017
  :	:
  (4813, 17275)	0.28865964971575003
  (4813, 4842)	0.2471926681089787
  (4813, 410)	0.17733960684040617
  (4813, 6942)	0.28865964971575003
  (4813, 11671)	0.2156339727725394
  (4813, 1678)	0.15654569856541425
  (4813, 10937)	0.13511070675369213
  (4813, 7482)	0.11315140061625902
  (4813, 3803)	0.33373890357329106
  (4814, 7003)	0.5699558863920579
  (4814, 5374)	0.22968712881330236
  (4814, 3661)	0.26249680813875026
  (4814, 2431)	0.2400156730814716
  (4814, 4615)	0.2400156730814716
  (4814, 6424)	0.21753453802419292
  (4814, 4378)	0.15384795501333928
  (4814, 12998)	0.16966583894508336
  (4814, 1322)	0.19608312189922858
  (4814, 4535)	0.19505340296691426
  (4814, 3442)	0.21753453802419292
  (4814, 6162)	0.18057878500712382
  (4814, 4987)	0.1608020008646649
  (4814, 2135)	0.31001282932314234
  (4814, 4525)	0.1678635185087296
  (4814, 11169)	0.17868892491692331

# Cosine Similarity

In [22]:
# getting the similarity scores using cosine similarity

similarity = cosine_similarity(feature_vectors)

In [23]:
print(similarity)

[[1.         0.07225649 0.03775591 ... 0.         0.         0.        ]
 [0.07225649 1.         0.032843   ... 0.0357653  0.         0.        ]
 [0.03775591 0.032843   1.         ... 0.         0.05370947 0.        ]
 ...
 [0.         0.0357653  0.         ... 1.         0.         0.02652142]
 [0.         0.         0.05370947 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.02652142 0.         1.        ]]

In [24]:
print(similarity.shape)

(4815, 4815)

# Getting the movie name from the user

In [ ]:
# getting the movie name from the user

movie_name = input(' Enter your favourite movie name : ')

In [ ]:
# creating a list with all the movie names given in the dataset

list_of_all_titles = movies_data['title'].tolist()
list_of_all_titles = [x for x in list_of_all_titles if str(x) != 'nan']

In [ ]:
# finding the close match for the movie name given by the user

find_close_match = difflib.get_close_matches( movie_name, list_of_all_titles)


print(find_close_match)

In [ ]:
close_match = find_close_match[0]
print(close_match)

In [ ]:
# finding the index of the movie with title

index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]
print(index_of_the_movie)

In [ ]:
# getting a list of similar movies

#similarity_score = list(enumerate(similarity[index_of_the_movie]))
#print(similarity_score)
similarity_score=list(enumerate(similarity[int(index_of_the_movie)]))
print(similarity_score)
similarity

In [ ]:
len(similarity_score)

In [ ]:
# sorting the movies based on their similarity score

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 
print(sorted_similar_movies)

In [ ]:
# print the name of similar movies based on the index

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index==index]['title'].values[0]
  if (i<30):
    print(i, '.',title_from_index)
    i+=1

# Movie Recommendation Sytem

In [ ]:
movie_name = input(' Enter your favourite movie name : ')

list_of_all_titles = movies_data['title'].tolist()
list_of_all_titles = [x for x in list_of_all_titles if str(x) != 'nan']

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)

close_match = find_close_match[0]

index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]

similarity_score=list(enumerate(similarity[int(index_of_the_movie)]))

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index==index]['title'].values[0]
  if (i<30):
    print(i, '.',title_from_index)
    i+=1